.paper
    height: 100vh
    font-feature-settings: "liga" 0

    .cert
        background-color: #FFF
        border: 1px solid #000
        padding: 20px
        border-radius: 10px
        position: relative
        max-width:500px
        min-width:500px

        .downloadBtn
            right: 15px
            top: 15px
            position: absolute

        .heading
            margin-bottom: 30px

            img
                width: 100px
                height: 100px

        .input
            border: none
            padding: 10px 0px
            border-radius: 10px

            &:empty:not(:focus) > .border
                font-weight: 300

        .date
            font-weight: 300
            margin-bottom: 50px
            text-align: right

        .maintext
            line-height: 1.8rem
            margin-bottom: 50px

        .student
            display: inline-block
            padding: 15px
            font-size: 1.2rem
            margin-bottom: 2px

        .teacher
            font-weight: bold
            text-align: right
