.home {
  border-radius: 15px;
  margin-bottom: 10px;
  width: 100%;
  height: 90vh;
  display: flex;
  padding: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ffc107;
}

.home-text {
  color: rgb(0, 0, 0);
  font-size: 30px;
  position: static;
  top: 40%;
}
.home-btn {
  color: #ffc107;
  border-radius: 15px;
  background-color: black;
  width: 200px;
}
.home-btn:hover {
  color: black;
  background-color: #ffc107;
  border: 3px solid black;
}
.home-header {
  justify-self: flex-start;
  font-size: 2vw;
  border-radius: 10px;
  padding-left: 0;
  padding-right: 0;
  color: #ffc107;
  background-color: black;
}
.home-header h1 {
  text-align: center;
}

.must-export {
  width: 400px;
  height: 600px;
  margin: auto;
  padding-top: 3rem;
  padding-left: 30px;
  padding-right: 30px;
}
.must-export p {
  text-align: center;
  font-family: "Pyidaungsu";
}

.certi-logo {
  width: 120px;
  height: auto;
  border: 2.5px solid black;
}
.certi-header {
  text-align: center;
  font-size: 20px;
}
.certi-sub-header {
  text-align: center;
  font-size: 16px;
}
.certi-date {
  margin-right: 0;
}
.whole-reason {
  text-align: center;
}
.certi-date-box {
  text-align: end;
  margin-top: 80px;
  margin-bottom: 60px;
  font-size: 13px;
}

.certi-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background-image: url("./utils/images/bpdf_bg.png");
  background-size: cover;
  font-size: 12px;
}

.foot-box {
  display: flex;
  align-self: end;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-form {
  width: 70%;
  background-color: #ffc107;
  margin-left: auto;
  margin-right: auto;
}
.login-form button {
  background-color: black;
  color: #ffc107;
}

.login-form button:hover {
  font-weight: bold;
  border: 2px solid black;
  background-color: #ffc107;
  color: black;
}
.btn-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.dashboard-btn {
  flex: 1;
  min-width: 80px;
}
.nav-header {
  text-decoration: none;
  color: #ffc107;
}
.nav-header:hover {
  text-decoration: none;
  color: #ffc107;
}
.dashboard-header {
  font-size: 30px;
}
.login-input {
  font-size: 12px;
}

.more-btn {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 25px;
  color: black;
  background-color: #ffc107;
}
.more-btn-box {
  padding: 0;
  position: relative;
}
.three-more {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 10px;
  top: 55px;
}
.three-more-btn {
  width: 80px;
  color: #ffc107;
  background-color: black;
}
.three-more-del {
  width: 80px;
  background-color: #ffc107;
  color: black;
  border: 2px solid black;
}
.three-more-btn:hover {
  color: black;
  background-color: #ffc107;
  border: 2px solid black;
}
.three-more-del:hover {
  color: #ffc107;
  background-color: black;
}
.donation-item {
  margin-bottom: 5px;
}
.item-box {
  margin-left: 0px;
  margin-right: 0px;
  border-left: 5px solid black;
  font-size:12px ;
}
.card-btn {
  color: #ffc107;
  background-color: black;
}
.card-btn:hover {
  border: 2px solid black;
  color: black;
  background-color: #ffc107;
}
.create-btn {
  max-height: 80px;
  color: black;
  background-color: #ffc107;
}
.create-btn:hover {
  border: 2px solid black;
}
.del-btn {
  max-height: 80px;
  color: #ffc107;
  background-color: black;
}
.del-btn:hover {
  color: black;
  background-color: #ffc107;
  border: 2px solid black;
}
.seemore-btn-box {
  border-bottom-right-radius: 15px;
}
.uniq-id {
  font-size: 8px;
}
#sign {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  margin-bottom: 5px;
  opacity: 0.5;
}
.detail-item {
  color: black;
  border-radius: 10px;
  box-shadow: -3px 4px 3px #7c5204;
}
#main_text {
  background-size: cover;
  background-repeat: no-repeat;
}
.goto-records {
  text-decoration: none;
  font-size: 12px;
  color: black;
  padding: 3px;
  border: 2px solid rgb(0, 0, 0);
}
.goto-records:hover {
  color: black;
  background-color: #ffc107;
  border: 2px solid #000000;
}

div.col-5{
  overflow-wrap: break-word;
}
div.alert{
  font-size: 12px;
}
.detail-btn{
  max-height: 50px;
}
.create-btn,.del-btn{
  max-height: 50px;
}
#showDonationBtn{
  font-size: 13px;
}
.pagination > .previous > a,.pagination > .next > a{
  font-size: 12px;
}
.pagination > li > a {
  font-size: 8px;
  color:black;
}

.pagination > .active > a
{
    color: white;
    background-color: #ffc107 !Important;
    border: solid 1px #ffc107 !Important;
    
}
@media (min-width: 576px) {
  *{
    font-size: 14px;
  }
  
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
